/* src/components/Navegacao.css */

/* Estilos gerais para a navbar */
.navbar {
  width: 100%; /* A navbar ocupa toda a largura da tela */
  position: fixed; /* A navbar fica fixada no topo da tela */
  top: 0; /* Posiciona a navbar no topo */
  left: 0; /* Alinha a navbar à esquerda */
  height: 70px; /* Altura inicial da navbar */
  background-color: #f4f4f4; /* Cor de fundo da navbar */
  display: flex; /* Usa flexbox para alinhar itens na navbar */
  align-items: center; /* Alinha verticalmente os itens no centro */
  justify-content: space-between; /* Espaça os itens igualmente nas extremidades */
  padding: 0 20px; /* Espaçamento interno nas laterais */
  transition: height 0.3s, background 0.3s; /* Transição suave para mudanças de altura e cor de fundo */
  z-index: 1000; /* Define a ordem de empilhamento da navbar para que fique sobre outros elementos */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra leve ao redor da navbar */
}

.navbar.scrolled {
  height: 50px; /* Altura da navbar quando rolada para baixo */
  background: #f4f4f4; /* Cor de fundo permanece a mesma */
}

/* Estilos para o contêiner dentro da navbar */
.container {
  display: flex; /* Usa flexbox para alinhar itens no contêiner */
  align-items: center; /* Alinha verticalmente os itens no centro */
  justify-content: space-between; /* Espaça os itens igualmente nas extremidades */
  width: 100%; /* O contêiner ocupa toda a largura da navbar */
}

/* Estilos para o logo */
.logo img {
  padding-top: 25px; /* Espaçamento acima da imagem do logo */
  width: 110px; /* Largura inicial da imagem do logo */
  height: 50px; /* Altura inicial da imagem do logo */
  transition: width 0.3s, height 0.3s; /* Transição suave para mudanças de largura e altura */
}

.navbar.scrolled .logo img {
  width: 100px; /* Largura da imagem do logo quando rolada para baixo */
  height: 40px; /* Altura da imagem do logo quando rolada para baixo */
}

/* Estilos para o botão de menu hambúrguer */
.hamburger {
  padding-right: 40px; /* Espaçamento à direita do botão de menu */
  display: none; /* Inicialmente oculto em telas grandes */
  flex-direction: column; /* Organiza as barras do menu verticalmente */
  cursor: pointer; /* Cursor em forma de mão ao passar sobre o botão */
  z-index: 1100; /* Ordem de empilhamento para sobrepor outros elementos */
}

/* Estilos para o botão de menu hambúrguer quando aberto */
.hamburger.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px); /* Rotaciona e desloca a primeira barra */
  background-color: #000000; /* Muda a cor da barra para preto */
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0; /* Torna a segunda barra invisível */
}

.hamburger.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px); /* Rotaciona e desloca a terceira barra */
  background-color: #000000; /* Muda a cor da barra para preto */
}

/* Estilos para cada barra do botão de menu hambúrguer */
.bar {
  width: 25px; /* Largura das barras do menu */
  height: 3px; /* Altura das barras do menu */
  background-color: #222; /* Cor das barras do menu */
  margin: 4px 0; /* Margem acima e abaixo das barras */
  transition: all 0.3s; /* Transição suave para todas as propriedades */
}

.bar:hover {
  background: #50a616; /* Cor das barras quando o mouse passa sobre elas */
}

/* Estilos básicos para os links de navegação */
.nav-links {
  display: flex; /* Usa flexbox para alinhar os links */
  flex-direction: row; /* Exibe os links em linha */
  align-items: center; /* Alinha verticalmente os links no centro */
  margin: 0; /* Remove a margem dos links */
  padding: 0; /* Remove o preenchimento dos links */
  padding-right: 20px; /* Espaçamento à direita dos links */
}

.nav-links li {
  display: inline-block; /* Exibe cada item de navegação em linha */
  margin-left: 15px; /* Espaçamento à esquerda de cada item */
}

.nav-links li a {
  font-size: 15px; /* Tamanho da fonte dos links */
  color: #6be003; /* Cor do texto dos links */
  text-decoration: none; /* Remove o sublinhado dos links */
  transition: color 0.3s; /* Transição suave para a cor do texto */
  padding-right: 30px; /* Espaçamento à direita dos links */
}

.nav-links li a:hover {
  color: #50a616; /* Cor do texto dos links quando o mouse passa sobre eles */
}

/* Estilos específicos para telas pequenas */
@media (max-width: 768px) {
  .hamburger {
    display: flex; /* Exibe o botão de menu hambúrguer em telas pequenas */
  }

  .nav-links {
    display: none; /* Oculta os links de navegação em telas pequenas por padrão */
    flex-direction: column; /* Organiza os links em coluna */
    align-items: center; /* Alinha os links no centro */
    position: absolute; /* Posiciona os links em relação ao contêiner pai */
    top: 70px; /* Posiciona os links abaixo da navbar */
    left: 0; /* Alinha os links à esquerda */
    width: 100%; /* Ocupa toda a largura da tela */
    background-color: #f6f6f6; /* Cor de fundo dos links */
    min-height: 200px; /* Altura mínima dos links */
    padding-top: 25px; /* Espaçamento acima dos links */
  }

  .nav-links.open {
    display: flex; /* Exibe os links quando o menu está aberto */
  }

  .nav-links li {
    margin: 10px 0; /* Espaçamento vertical entre os itens de navegação */
  }
}
